<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nts.iot.modules.system.dao.DeviceRealAlertMapper">

    <select id="proportion" resultType="java.util.Map">
        select count(da.id) alert_type_01,
               (
                   select count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_001'
               )           alert_type_001,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_002'
               )           alert_type_002,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_003'
               )           alert_type_003,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_004'
               )           alert_type_004,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_005'
               )           alert_type_005,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_006'
               )           alert_type_006,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_007'
               )           alert_type_007,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_008'
               )           alert_type_008,
               (
                   select count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_009'
               )           alert_type_009,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_0010'
               )           alert_type_0010,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_0011'
               )           alert_type_0011,
               (
                   select  count(*)
                   FROM
                       device_real_alert da1,
                       device d1,
                       user_device ud1
                   WHERE 1 = 1
                     AND da1.device_no = d1.device_no
                     AND ud1.device_id = d1.id
                     AND da1.del_flag = 1
                     AND ud1.user_id = #{id}
                     and da1.alert_type = 'alert_type_0012'
               )           alert_type_0012
        from device_real_alert da,
             device d,
             user_device ud
        where 1 = 1
          and da.device_no = d.device_no
          and ud.device_id = d.id
          and da.del_flag = 1
          and ud.user_id = #{id}
    </select>
    <select id="proportionList" resultType="com.nts.iot.modules.system.model.vo.DeviceRealAlertVo">
        SELECT
            u.`id` userId,
            u.`username`,
            u.`nick_name` nickName,
            d.`device_no` deviceNo,
            d.`device_name` deviceName,
            d.`device_type` deviceType,
            dra.`create_time` alertTime,
            d.`status` deviceStatus
        FROM
            USER u
                JOIN user_device ud
                     ON u.`id` = ud.`user_id`
                JOIN device d ON d.`id` = ud.`device_id`
                JOIN device_real_alert dra ON dra.`device_no` = d.`device_no`
        WHERE u.`id`= #{userId}
          AND dra.`alert_type` = #{alertType}

    </select>


</mapper>