<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nts.iot.modules.system.dao.JurisdictionConfigurationMapper">
    <select id="getJurisdictionName" resultType="com.nts.iot.modules.system.model.JurisdictionConfiguration">
        SELECT
            name
        FROM
            dept
        WHERE
            id = #{jurisdiction}
    </select>

    <select id="getJurisdictionConfiguration" resultType="com.nts.iot.modules.system.model.JurisdictionConfiguration">
        SELECT
            *
        FROM
            jurisdiction_configuration
        WHERE
            jurisdiction = #{jurisdiction}
    </select>
</mapper>
