<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nts.iot.modules.system.dao.PermissionMapper">
    <sql id="Base_Column_List">
        id, alias, create_time as createTime, name, pid
	</sql>

    <select id="queryAll" resultType="com.nts.iot.modules.system.dto.PermissionDTO">
        select
        <include refid="Base_Column_List"/>
        from permission
        <if test="name != null">
            where name like concat('%',#{name},'%')
        </if>
    </select>

    <select id="findByRoles" resultType="com.nts.iot.modules.system.model.Permission">
        select
            p.id, p.alias, p.create_time as createTime, p.name, p.pid
        from permission p, roles_permissions rp
        where p.id = rp.permission_id
        <if test="roles.size()!=0">
            and rp.role_id in
            <foreach collection="roles" index="index" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </if>
    </select>

</mapper>
